# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log